# PyCharm files
.idea
.idea/*

# Py2app Stuff
build
build/*
dist
dist/*
.eggs
.eggs/*

# Test data and stuffs
test_data.json
dependencies.txt
dongers
dongers/*

new_contact.app
new_contact.app/*
main.app
main.app/*