<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://www.eddiefed.com/favicon.ico">
    <title>FAQ</title>

</head>

<style>
    body {
        background-color: #212121;
        padding: 5%;
    }

    h1, .p-1 {
        color: #FFFFFF;
        opacity: 98%;
    }

    .p-2 {
        color: #FFFFFF;
        opacity: 70%;
    }

    .s {
        position: absolute;
        bottom: 0;
        color: #972929;
        margin-right: 5%;
    }

    a, a:active, a::after {
        color: #FFFFFF;
        opacity: 100%;
    }

</style>

<body>
    <h1>FAQ:</h1>
    <p class="p-1"><strong>How is my data used?</strong></p>
    <p class="p-2">All data provided is ONLY used to send messages to you. No information is shared with anyone.</p>
    <br>
    <p class="p-1"><strong>How do I stop getting texts?</strong></p>
    <p class="p-2">Please visit <a href="./takemeoff">gameping.eddiefed.com/takemeoff</a></p>
    <br>
    <p class="p-1"><strong>Is there any fee or cost?</strong></p>
    <p class="p-2">There is no fee to signing up, but depending on your carrier and plan, rates may apply when receiving texts. On average expect around 1 text a day for a free game.</p>

    <p class="s">I Hate CSS. Sorry, I'm barely styling these pages... Please someone else do this for me. just email me please... <i>eddiefedermeyer@yahoo.com</i></p>
</body>
</html>